.url-list-items {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0;
  border: 1px solid #aaa;
  padding: 0.5rem 0.5rem;
  border-radius: 6px;
}

.url {
  font-weight: 700;
  color: rgb(35, 143, 231);
  overflow: hidden;
  word-wrap: break-word;
}

@media (min-width: 500px) {
  .url-list-items {
    flex-direction: row;
    gap: 3rem;
  }
}
