.url-list-items {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  border: 1px solid #aaa;
  padding: 0.5rem 0.5rem;
  border-radius: 6px;
  gap: 1rem;
}

.urls {
  font-weight: 700;
  color: rgb(35, 143, 231);
  overflow: hidden;
  word-wrap: break-word;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.action {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  justify-content: flex-start;
  align-items: flex-start;
}

.action button {
  cursor: pointer;
}

@media (min-width: 500px) {
  .url-list-items {
    flex-direction: row;
    gap: 3rem;
  }
}
